@import "tailwindcss";

/* ===== Base Styles ===== */
html,
body,
:root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}